*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: #03264b;
}

#information{
    color: #ffffff;
}

.apresentation {
    /* Para ter a posição defenida para o título do projeto no espaço central - identificação */
    display:flex;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
.container{
    margin-top: 5%;
    margin-bottom: 2%;
    padding-bottom: 20%;
    width: 55%;
    height: 30%;
    margin-left: 25%;
    top: 30%;
    left: 47%;
    background: white;
    border-radius: 10px;
    /*position: absolute; /* relative*/
    /*transform: translate(-50%,-50%);*/
}

#symetric, #assymetric{
    padding: 30px 20px;
    margin-bottom: 20px;
    margin-top: 10px;
}

#textToCipherAssynC, #textToCipherSynC {
    width: 75%;
    height: 45px;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    border: 2px solid #d1d3d4;
}

input{
    width: 100%;
    padding: 5px 5px;
    margin: 8px 10px;
    box-sizing: border-box;
}

#symetric button, #assymetric button{
    position: relative;
    float: right;
    font-weight: 500;
    font-size: 16px;
    background-color: #03264b;
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    width: 17%;
    height: 65px;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
    margin-left: 10px;
}

#position-buttons {
    display: inline;
}

.results{
    margin-bottom: 15%;
    display: flex;
    justify-content: space-around;
    width: 75%;
    left: 10%;
    position: relative;
}

#outputCode{
    border-radius: 10px;
    width: 45%;
    position: relative;
    align-items: center;
    background-color: #ffffff;
    padding: 30px 20px;
    margin-top: 10px;
}

#output{
    border-radius: 10px;
    width: 45%;
    position: relative;
    align-items: center;
    background-color: #ffffff;
    padding: 30px 20px;
    margin-top: 10px;
}

.newText{
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #939697;
    cursor: pointer;
    background-color: #c5e1e6;
    height: 50px;
    margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
}

.outputText span{
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.task button{
    background-color: #6583e5;
    color: #ffffff;
    border: none;
    cursor: pointer;
    outline: none;
    height: 100%;
    width: 40px;
    border-radius: 5px;
}
